/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #1B1B21;
 
}
body {
  color: #545051;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;background: #f8f8f8;
}

@font-face {
    font-family:RusticLoveTattoo;
    src: url(../fonts/RusticLoveTattoo.otf);
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
a:hover { text-decoration: none }



/* Header bar section start */


.site-left-part {
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  z-index: 99;
  background: #f7f9fb;
}
.site-right-main-content {
  margin-left: 300px;
}

.left-part-menu {
  padding: 25px;
}
.left-part-menu h4 {
  font-size: 12px;
  color: #ACACAC;
  margin-left: 30px;
}
.menu-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-item ul li {
	display: block;
}
.menu-item ul li a {
	display: block;
	font-size: 17px;
  color: #8ba7c3;
  font-weight: 400;
  position: relative;
}


.menu-item ul li a:hover {
  color: #174f7c;
}

.menu-item ul li a svg path, .menu-item ul li a svg line, .menu-item ul li a svg circle, .menu-item ul li a svg rect {
	stroke: #A5A5A5;
}
.menu-item ul li a:hover svg path, .menu-item ul li a:hover svg line, .menu-item ul li a:hover svg circle, .menu-item ul li a:hover svg rect {
	stroke: #fff;
}
.menu-open-trg {
	display: none;
}
.dash-main-left-content {
  background: #fff;
  box-shadow: 0 0 2px #a3a3a3f0;
}



.mission-inner-text {
  padding: 15px;
}
.m-top-text h3 {
  font-size: 24px;
  color: #42485A;
}
.m-top-text h3 span {
  display: block;
  font-size: 18px;
  color: #42485A;
  margin-top: 7px;
}
.older-v h4 {
  font-size: 14px;
  color: #A8A8A8;
  margin-bottom: 5px;
}
.v-inner-contnet p {
  font-size: 14px;
  color: #6E6E6E;
  margin: 0;
}
.v-inner-contnet {
  border: 1px solid #6E6E6E38;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.menu-open-trg {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  right: -50px;
  -webkit-box-shadow: 0 0 20px #dddddda1;
  box-shadow: 0 0 20px #dddddda1;
  cursor: pointer;
  top: 0;
}

.navbar-text{
  color: white;
 margin-top: 10px;
}
.right-box{
  background-color: white;
   box-shadow: 0 0 2px #a3a3a3f0;
}
.heading-top-left{
  color: #8fd4ef;
   display: flex;
   justify-content: flex-end;
    font-size: 0.6em;
   margin-top: -20px;
    font-weight: bold;
}
